{% extends "blog/base.html" %}
{% load bootstrap3 %}

{% block title %}分享文章{% endblock %}

{% block content %}
    {% if sent %}
        <h1>邮件已经成功发送</h1>
		<p>"{{ post.title }}" 已经被邮件成功发送到{{ form.cleaned_data.to }}.</p>
    {% else %}
        <h1>通过邮件分享 "{{ post.title }}"</h1>
        <form action="." method="post">
            {% csrf_token %}
			{% bootstrap_form form %}
			{% buttons %}
			<button type="submit" class="btn btn-primary">发送邮件</button>
			{% endbuttons %}
        </form>
    {% endif %}
{% endblock %}
